@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Nunito:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@1,300&display=swap");

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
body {
  background-color: #e1e1e1;
}
